/*
#FCFAF9 = White
#48E5C2 = Turqoise
#FF785A = Orange
#5E5E5E = Gray
#3A534E = Medium Gray
#36413E = Dark Gray
*/

.background {
    -fx-background-color: #5E5E5E;
}

.topBar {
    -fx-background-color: #36413E;
}

.button {
    -fx-background-color: #3A534E;
    -fx-text-fill: #FCFAF9;
    -fx-font-family: Corbel;
    -fx-background-radius: 12;
}

.button:hover {
    -fx-background-color: #36413E;
    -fx-text-fill: #FCFAF9;
    -fx-font-family: Corbel;
    -fx-background-radius: 12;
}

.DatePicker{

}